In [ ]:
def f(a, b):
  return a + b

In [ ]:
sir = "abcdefgh"
sir.islower()

True

In [ ]:
sir.find("f")

5

In [ ]:
a = 10
b = 12.23
c = "sir de caractere"
d = 'sir de caractere'
e = f"sir de caractere {a}"
f = f'sir de caractere {a}'
g = """sir de caractere
pe mai multe randuri"""
h = '''sir de caractere pe
mai multe randuri'''

i = "\"What's up?\""
j = True
k = False
l = None

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, a, b, c, d, e, f]
l1

[1,
 2,
 3,
 4,
 5,
 6,
 10,
 12.23,
 'sir de caractere',
 'sir de caractere',
 'sir de caractere 10',
 'sir de caractere 10']

In [ ]:
l1[0]

1

In [ ]:
l1[0] = "noua valoare"
l1

['noua valoare',
 2,
 3,
 4,
 5,
 6,
 10,
 12.23,
 'sir de caractere',
 'sir de caractere',
 'sir de caractere 10',
 'sir de caractere 10']

In [ ]:
l2 = [1, 2, 1, 2, 3, 5, -1]
l2.sort()

In [ ]:
l2

[-1, 1, 1, 2, 2, 3, 5]

In [ ]:
l2.sort(reverse=True)

In [ ]:
l2

[5, 3, 2, 2, 1, 1, -1]

In [ ]:
d = {
    "nume": "IE",
    "desc": "Curs"
}

d["nume"]

'IE'

In [ ]:
a = 10
a = 20

l2 = l1
l1, l2

(['noua valoare',
  2,
  3,
  4,
  5,
  6,
  10,
  12.23,
  'sir de caractere',
  'sir de caractere',
  'sir de caractere 10',
  'sir de caractere 10'],
 ['noua valoare',
  2,
  3,
  4,
  5,
  6,
  10,
  12.23,
  'sir de caractere',
  'sir de caractere',
  'sir de caractere 10',
  'sir de caractere 10'])

In [ ]:
l2[0] = -1
l1[0], l2[0]

(-1, -1)

In [ ]:
l3 = list(l1)
l1[0] = -10
l1[0], l2[0], l3[0]

(-10, -10, -1)

In [ ]:
t1 = (1, 2, 3)
t2 = t1
t1, t2

((1, 2, 3), (1, 2, 3))

TypeError: ignored