In [ ]:
a = 10
b = 20
if a > 10:
  print(a)
  a = a + 20
else:
  print(f"a = {a} < 10")
  if b < 25:
    print(b)
  else:
    print(a)

a = 10 < 10
20

In [ ]:
if a > 10:
  print(a)
elif a == 10:
  print("a == 10")
else:
  print("a < 10")

a == 10

In [ ]:
if (a > 10 or a == 10) and b < 20:
  print(a + b)

In [ ]:
for i in range(10):
  print(f'i = {i}')

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9

In [ ]:
li = [1, 2, 3, 10, 20]
for e in li:
  print(f'e = {e}')

e = 1
e = 2
e = 3
e = 10
e = 20

In [ ]:
for i in range(len(li)):
  print(f'li[{i}] = {li[i]}')

li[0] = 1
li[1] = 2
li[2] = 3
li[3] = 10
li[4] = 20

In [ ]:
i = 0
while i < len(li):
  print(f'li[{i}] = {li[i]}')
  i = i+1

li[0] = 1
li[1] = 2
li[2] = 3
li[3] = 10
li[4] = 20

In [ ]:
for i in range(len(li)):
  print(f'li[{len(li)-1-i}] = {li[len(li)-1-i]}')

li[4] = 20
li[3] = 10
li[2] = 3
li[1] = 2
li[0] = 1

In [ ]:
def numele_functiei(a, b=10):
  c = a + b
  d = c / a
  return c, d

numele_functiei(a=10, b=10)

(20, 2.0)

In [ ]:
numele_functiei(b=10, a=5)

(15, 3.0)

In [ ]:
def sum(*argv):
  s = 0
  for i in argv:
    s = s + i
  return s

sum(1, 2, 3, 4, 5)

15

In [ ]:
sum(1, 3)

4

In [ ]:
def product(**kwargs):
  p = 1
  values = kwargs.values()
  for value in values:
    p = p * value
  return p

product(a=10, c=100, alt_parametru=2000)

2000000

In [ ]:
import sqlite3
from sqlite3 import connect

In [ ]:
def filter(li, cond):
  results = []
  for el in li:
    if cond(el) == True:
      results.append(el)
  return results

def greaterThan7(n):
  return n > 7

li = [1, 2, 3, 9, 10, 11, 12]
filter(li, greaterThan7)

[9, 10, 11, 12]